<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    [mode]="percentage >= 0 ? 'determinate' : 'indeterminate'"
    [value]="percentage"
    diameter="50"
    >
  </mat-progress-spinner>
</div>
<div *ngIf="form">
  <div class="cloudapp-actions">
    <button mat-flat-button color="secondary" [routerLink]="['']">{{'Cancel' | translate}}</button>
    <button mat-flat-button color="primary" [disabled]="form.errors!=null && serviceForm.errors!=null" (click)="update()">{{'Main.Update' | translate:{count: this.ids.length} }}</button>
  </div>
  <h1>Update E-Collections</h1>
  <p>{{'Form.Intro' | translate}}</p>
  <div class="grid" *ngIf="form" [formGroup]="form">
    <div class="field-title">{{'Form.Fields.internal_description' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="internal_description" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.Fields.internal_description' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="form.get('internal_description')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>
    <div class="field-title">{{'Form.Fields.authentication_note' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="authentication_note" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.Fields.authentication_note' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="form.get('authentication_note')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>    
    <div class="field-title">{{'Form.Fields.public_note' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="public_note" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.Fields.public_note' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="form.get('public_note')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>    
    <div class="field-title">{{'Form.Fields.free.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="free.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="form.get('free.value')">
        <mat-radio-button *ngFor="let row of options.isFree" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>
    <div class="field-title">{{'Form.Fields.proxy_enabled.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="proxy_enabled.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="form.get('proxy_enabled.value')">
        <mat-radio-button *ngFor="let row of options.booleanYesNo" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>
    <div class="field-title">{{'Form.Fields.proxy' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="proxy" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-form-field>
        <mat-placeholder>{{'SelectOne' | translate}}</mat-placeholder>
        <mat-select [formControl]="form.get('proxy')">
          <mat-option value='DEFAULT'>DEFAULT</mat-option>
          <mat-option *ngFor="let proxy of options.proxies" [value]="proxy.code">{{proxy.code.concat(proxy.code ? ' (' + proxy.desc + ')' : '')}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>  
    <div class="field-title">{{'Form.Fields.category' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="category" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>    
    <div>
      <mat-form-field>
        <mat-label>{{'Form.Fields.category' | translate}}</mat-label>
        <input matInput type="text" [formControl]="form.get('category')">
      </mat-form-field>  
    </div>
    <div class="field-title">{{'Form.Fields.access_type.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="access_type.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="form.get('access_type.value')">
        <mat-radio-button *ngFor="let row of options.collectionAccessType" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>
    <div class="field-title">{{'Form.Fields.counter_platform.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="counter_platform.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <app-options-autocomplete
        [options]="options.counterPlatform"
        [placeholder]="'SelectOne' | translate"
        [control]="form.get('counter_platform.value')"
        >
      </app-options-autocomplete>
    </div>   
    <div class="field-title">{{'Form.Fields.license.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="license.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <app-options-autocomplete
        [options]="options.licenses"
        [placeholder]="'SelectOne' | translate"
        [control]="form.get('license.value')"
        >
      </app-options-autocomplete>
    </div>   
    <div class="field-title">{{'Form.Fields.public_access_model.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="public_access_model.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <app-options-autocomplete
        [options]="options.publicAccessModel"
        [placeholder]="'SelectOne' | translate"
        [control]="form.get('public_access_model.value')"
        >
      </app-options-autocomplete>
    </div>   
    <div class="field-title">{{'Form.Fields.library.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="library.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <app-options-autocomplete
        [options]="options.libraries"
        [placeholder]="'SelectOne' | translate"
        [control]="form.get('library.value')"
        >
      </app-options-autocomplete>
    </div>       
    <div class="field-title">{{'Form.Fields.is_selective.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="is_selective.value" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="form.get('is_selective.value')">
        <mat-radio-button *ngFor="let row of options.booleanYesNo" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>    
    <div class="field-title">{{'Form.Fields.is_suppressed_from_cdi' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="is_suppressed_from_cdi" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="form.get('is_suppressed_from_cdi')">
        <mat-radio-button *ngFor="let row of options.booleanYesNo" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>      
    <div class="field-title">{{'Form.Fields.activation_date' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="activation_date" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>    
    <div>
      <mat-form-field>
        <mat-label>{{'Form.Fields.activation_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="activationPicker" [formControl]="form.get('activation_date')">
        <mat-datepicker-toggle matSuffix [for]="activationPicker"></mat-datepicker-toggle>
        <mat-datepicker #activationPicker></mat-datepicker>    
      </mat-form-field>  
    </div>
    <div class="field-title">{{'Form.Fields.expected_activation_date' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="expected_activation_date" (selectionChange)="toggle($event)">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>    
    <div>
      <mat-form-field>
        <mat-label>{{'Form.Fields.expected_activation_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="expectedPicker" [formControl]="form.get('expected_activation_date')">
        <mat-datepicker-toggle matSuffix [for]="expectedPicker"></mat-datepicker-toggle>
        <mat-datepicker #expectedPicker></mat-datepicker>    
      </mat-form-field>  
    </div>
  </div>
  <div *ngIf="form.errors" class="field-title">
    <ul>
      <li *ngFor="let field of form.errors.missingFields">
        <span class="alert alert-danger" [translateParams]="{field: 'Form.Fields.'+field | translate}" translate>Form.Validation.Required</span>
      </li>
    </ul>
  </div> 
  <div class="grid" *ngIf="serviceForm" [formGroup]="serviceForm">
    <h2>Service Fields</h2>
    <div class="field-title">{{'Form.ServiceFields.internal_description' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="internal_description" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.internal_description' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="serviceForm.get('internal_description')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>
    <div class="field-title">{{'Form.ServiceFields.public_description' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="public_description" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.public_description' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="serviceForm.get('public_description')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>  
    <div class="field-title">{{'Form.ServiceFields.public_note' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="public_note" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.public_note' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="serviceForm.get('public_note')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>    
    <div class="field-title">{{'Form.ServiceFields.authentication_note' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="authentication_note" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.authentication_note' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="serviceForm.get('authentication_note')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>      
    <div class="field-title">{{'Form.ServiceFields.proxy_enabled.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="proxy_enabled.value" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="serviceForm.get('proxy_enabled.value')">
        <mat-radio-button *ngFor="let row of options.booleanYesNo" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>
    <div class="field-title">{{'Form.ServiceFields.proxy' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="proxy" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-form-field>
        <mat-placeholder>{{'SelectOne' | translate}}</mat-placeholder>
        <mat-select [formControl]="serviceForm.get('proxy')">
          <mat-option value='DEFAULT'>DEFAULT</mat-option>
          <mat-option *ngFor="let proxy of options.proxies" [value]="proxy.code">{{proxy.code.concat(proxy.code ? ' (' + proxy.desc + ')' : '')}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>         
    <div class="field-title">{{'Form.ServiceFields.activation_status' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="activation_status.value" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="serviceForm.get('activation_status.value')">
        <mat-radio-button *ngFor="let row of options.electronicBaseStatus" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>           
    <div class="field-title">{{'Form.ServiceFields.activate_new_portfolios' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="activate_new_portfolios" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="serviceForm.get('activate_new_portfolios')">
        <mat-radio-button *ngFor="let row of options.booleanYesNo" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>
        <div class="field-title">{{'Form.ServiceFields.delete_removed_portfolios' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="delete_removed_portfolios" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group aria-label="Select an option" [formControl]="serviceForm.get('delete_removed_portfolios')">
        <mat-radio-button *ngFor="let row of options.booleanYesNo" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="field-title">{{'Form.ServiceFields.url_type_override' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="url_type_override.value" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <div> 
        <mat-radio-group aria-label="Select an option" [formControl]="serviceForm.get('url_type_override.value')">
          <mat-radio-button *ngFor="let row of options.urlTypes" [value]="row.code">{{row.desc}}</mat-radio-button>
        </mat-radio-group>  
      </div>        
    </div> 
    <ng-container *ngIf="serviceForm.get('url_type_override.value').value==='dynamic'"> 
      <div class="field-title">{{'Form.ServiceFields.dynamic_url_override' | translate}}</div>
      <div>
        <mat-form-field>
          <mat-select value="NONE" data-action="dynamic_url_override" (selectionChange)="toggle($event, 'service')">
            <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>{{'Form.ServiceFields.dynamic_url_override' | translate}}</mat-label>
          <textarea matInput 
          [formControl]="serviceForm.get('dynamic_url_override')"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>  
      </div>      
    </ng-container>
  <ng-container *ngIf="serviceForm.get('url_type_override.value').value==='param'"> 
    <div class="field-title">{{'Form.ServiceFields.parser_override' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="parser_override" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.parser_override' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="serviceForm.get('parser_override')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>       
    <div class="field-title">{{'Form.ServiceFields.parser_parameters_override' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="parser_parameters_override" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.parser_parameters_override' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="serviceForm.get('parser_parameters_override')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>
  </ng-container>     
    <div class="field-title">{{'Form.ServiceFields.service_temporarily_unavailable.value' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="service_temporarily_unavailable.value" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>
    <div> 
      <mat-radio-group aria-label="Select an option" [formControl]="serviceForm.get('service_temporarily_unavailable.value')">
        <mat-radio-button *ngFor="let row of options.booleanYesNo" [value]="row.code">{{row.desc}}</mat-radio-button>
      </mat-radio-group>  
    </div>      
    <div class="field-title">{{'Form.ServiceFields.service_unavailable_reason' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value="NONE" data-action="service_unavailable_reason" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace', 'append' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.service_unavailable_reason' | translate}}</mat-label>
        <textarea matInput 
        [formControl]="serviceForm.get('service_unavailable_reason')"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>  
    </div>    
    <div class="field-title">{{'Form.ServiceFields.service_unavailable_date' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="service_unavailable_date" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>    
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.service_unavailable_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="serviceUnavailablePicker" [formControl]="serviceForm.get('service_unavailable_date')">
        <mat-datepicker-toggle matSuffix [for]="serviceUnavailablePicker"></mat-datepicker-toggle>
        <mat-datepicker #serviceUnavailablePicker></mat-datepicker>    
      </mat-form-field>  
    </div>               
    <div class="field-title">{{'Form.ServiceFields.service_unavailable_until_date' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="service_unavailable_until_date" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>    
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.service_unavailable_until_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="serviceUnavailableUntilPicker" [formControl]="serviceForm.get('service_unavailable_until_date')">
        <mat-datepicker-toggle matSuffix [for]="serviceUnavailableUntilPicker"></mat-datepicker-toggle>
        <mat-datepicker #serviceUnavailableUntilPicker></mat-datepicker>    
      </mat-form-field>  
    </div>               
    <div class="field-title">{{'Form.ServiceFields.active_from_date' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="active_from_date" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>    
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.active_from_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="activeFromPicker" [formControl]="serviceForm.get('active_from_date')">
        <mat-datepicker-toggle matSuffix [for]="activeFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #activeFromPicker></mat-datepicker>    
      </mat-form-field>  
    </div>   
    <div class="field-title">{{'Form.ServiceFields.active_until_date' | translate}}</div>
    <div>
      <mat-form-field>
        <mat-select value='NONE' data-action="active_until_date" (selectionChange)="toggle($event, 'service')">
          <mat-option *ngFor="let action of [ 'none', 'clear', 'replace' ]" [value]="action.toUpperCase()">{{'Form.Actions.'+action | translate}}</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>    
    <div>
      <mat-form-field>
        <mat-label>{{'Form.ServiceFields.active_until_date' | translate}}</mat-label>
        <input matInput [matDatepicker]="activeUntilPicker" [formControl]="serviceForm.get('active_until_date')">
        <mat-datepicker-toggle matSuffix [for]="activeUntilPicker"></mat-datepicker-toggle>
        <mat-datepicker #activeUntilPicker></mat-datepicker>    
      </mat-form-field>  
    </div>       
    <div *ngIf="serviceForm.errors" class="field-title">
      <ul>
        <li *ngFor="let field of serviceForm.errors.missingFields">
          <span class="alert alert-danger" [translateParams]="{field: 'Form.ServiceFields.'+field | translate}" translate>Form.Validation.Required</span>
        </li>
      </ul>
    </div> 
  </div>  
</div>
<div *ngIf="results" class="results">
  <div>
    <p *ngIf="results.successCount>0" translate [translateParams]="{num: results.successCount}">Form.Results.Success</p>
    <p *ngIf="results.failureCount>0" translate [translateParams]="{num: results.failureCount}" style="color: red">Form.Results.Failure</p>
  </div>
  <button mat-flat-button routerLink="/" color="accent">{{'OK' | translate}}</button>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'Form.Results.Details' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li *ngFor="let result of results.details">{{result.msg}}</li>
    </ul>
  </mat-expansion-panel>
</div>
