  <div class="cloudapp-actions">
    <button mat-flat-button color="primary" [disabled]="selectedEntities.length==0" (click)="update()">{{'Main.Update' | translate:{count: selectedEntities.length} }}</button>
  </div>
  <p *ngIf="entityCount == 0; else intro" translate>Main.NoRecords</p>
  <ng-template #intro>
    <p translate>Main.Intro</p>
  </ng-template>
  <eca-select-entities #selectEntities 
    [(selected)]="selectedEntities"
    (count)="entityCount=$event"
    [entityTypes]="['IEPA']"
    >
  </eca-select-entities>